* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 350ms;
}

:root {
  --primary-color: #333750;
  --secondart-color: #43496C;
  --button-color: #FD6E6E;
  --default-gray: #D2D2D2;
  --shadow: 0px 10px 20px rgba(35, 32, 43, 0.18);
}

body {
  background: var(--primary-color);
}
::-webkit-scrollbar {
  width: 0px;
}
.grid-container {
  height: 100vh;
  width: 100vw;
  padding: 20px;
  display: grid;
  grid-template-columns: 420px calc(100% - 440px);
  grid-template-rows: 100px auto;
  grid-gap: 20px 20px;
}
.grid-container .input-wrapper {
  grid-row: 1;
  grid-column: 1;
  border-radius: 20px;
  background-color: var(--secondart-color);
  box-shadow: var(--shadow);
  overflow: hidden;
  position: relative;
}
.input-wrapper input {
  height: 100%;
  width: 100%;
  border: none;
  padding: 15px;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  color: white;
}
.input-wrapper input::placeholder {
  color: var(--default-gray);
  font-size: 12px;
}
.input-wrapper button {
  cursor: pointer;
  position: absolute;
  height: 75px;
  width: 75px;
  right: 15px;
  top: 12px;
  border: none;
  outline: none;
  background: var(--button-color);
  border-radius: 20px;
}
.input-wrapper button:hover {
  transform: scale(0.98);
}

.country-list-wrapper {
  grid-row: 2;
  grid-column: 1;
  background: var(--secondart-color);
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
  box-shadow: var(--shadow);
}
.country-list-wrapper a {
  text-decoration: none;
  color: var(--default-gray);
}
.card-wrapper {
  height: 100px;
  width: 100%;
  background-color: var(--primary-color);
  overflow: hidden;
  margin: 0px 0px 15px 0px;
  border-radius: 20px;
  box-shadow: var(--shadow);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.card-wrapper:hover {
  transform: scale(0.98);
}
.card-wrapper .col {
  /* width: 100%; */
  height: 100%;
}
.card-wrapper .col:nth-child(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card-wrapper .col:nth-child(1) .img-holder{
  height: 80px;
  width: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-right: 10px;
}

.card-wrapper .col:nth-child(1) h3 {
  font-size:  12px;
}
.card-wrapper .col:nth-child(1) h4 {
  font-size: 12px;
  font-weight: 500;
}
.card-wrapper .col:nth-child(2)  {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.card-wrapper .col:nth-child(2) h5 {
  font-size: 10px;
  font-weight: 500;
}

main {
  grid-row: 1 / span 2;
  grid-column: 2;
  background: var(--secondart-color);
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}

main .col:nth-child(1) .img-holder {
  width: 100%;
  height: 450px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .col:nth-child(2) {
  color: var(--default-gray);
  margin-top: 20px;
  font-size: 20px;
  line-height: 60px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .col:nth-child(2) .col1 h4 span{
  font-weight: 500;
  color: var(--button-color);
}
main .col:nth-child(2) .col2 h4 span{
  color: var(--button-color);
  font-weight: 500;
}
.loader {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
.loader .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  overflow: hidden;
  /* border-radius: 50%; */
  /* box-shadow: 0px 0px 15px 0px rgb(0, 0, 0, 0.25); */
}
.loader .spinner span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-width: 3px 3px 3px 3px;
  border-style: solid;
  border-top: 5px solid var(--button-color);
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50%;
}

.loader .spinner span:nth-child(1) {
  animation: spinner1 1s cubic-bezier(0.39, 0.575, 0.565, 1) 100ms infinite normal forwards;
}
.loader .spinner span:nth-child(2) {
  animation: spinner2 1s cubic-bezier(0.39, 0.575, 0.565, 1) 80ms infinite normal forwards;
}
.loader .spinner span:nth-child(3) {
  animation: spinner3 1s cubic-bezier(0.39, 0.575, 0.565, 1) 180ms infinite normal forwards;
}

@keyframes spinner1 {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
@keyframes spinner2 {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
@keyframes spinner3 {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1100px){
  main .col:nth-child(2) {
    display: flex !important;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column !important;
  }
}
@media screen and (max-width: 860px){
  .grid-container {
    grid-template-columns: 100% !important;
    grid-template-rows: 100px 460px 460px !important;
  }
  main {
    grid-row: 3;
    grid-column: 1;
  }
  main .col:nth-child(1) .img-holder {
    height: 250px !important;
  }
  main .col:nth-child(2) {
    font-size: 16px !important;
  }
}